header {
   background-color:black;
   color:white;
   text-align:center;
   padding:5px;
}
nav {
   line-height:30px;
   background-color:white;
   height:500px;
   width:100px;
   float:left;
   padding:5px;
}
section {
   width:550px;
   float:left;
   padding:10px;
   background-color:grey;
   padding-bottom:100px;
}
footer {
   background-color:black;
   color:white;
   clear:both;
   text-align:center;
   padding:5px;
}
aside {
 background-color:white;
 padding:1px;
 text-align:center;
 
}

#page2 {
    display:none;
    
}

#page3 {
    display:none;
}

#page4 {
    display:none;
}
#page5 {
    display:none;    
}
